<header class="header-nav">
    <div>
       <a href="/">
       <img  width="80" height="50" loading="lazy" src="{{ 'nike.png' |  asset_url}}">
       </a> 
    </div>

    <div>
<ul class="middle-nav-links">
    {% for link in linklists['main-menu'].links %}
    <li>{{ link.title |  link_to: link.url }}</li>
    {% endfor %}
</ul>
    </div>

    <div class="right-nav-item">
        <form action="/search" class="Search-Form">
        <input type="text" class="search-nav" type="search" placeholder="search">
        </form>
        <a href="/">
        <img  width="40" height="40" loading="lazy" src="{{ 'bag.png' |  asset_url}}">
        </a>
    </div>
</header>
<style>
    /* header nav */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 1px;
    background-color: #fff;
    align-items: center;
}
.middle-nav-links{
    display: flex ;
    font-size: 17px;
    font-weight: bold;
}
.middle-nav-links li{
   padding: 10px;
   list-style-type: none;
}
.middle-nav-links a{
    color: inherit;
    text-decoration: none;
}
.middle-nav-links li:hover{
    text-decoration: underline;
}
.right-nav-item{
    display: flex;
    align-items:center ;
}
.search-nav{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);

}
.Search-Form{
    margin: 0px;
}
</style>