<section>
    <h1>hello</h1>
   {% comment %} <div class="banner-wrapper">
<div class="slide-text" id="text-1"> slide 1 </div>
<div class="slide-text" id="text-2"> slide 2 </div>
<div class="slide-text" id="text-3"> slide 3 </div>
   </div> {% endcomment %}
</section>


{% schema %}
  {
    "name": "Banner",
    "settings": [
        {
            "type": "color",
            "id": "background",
            "label": "background",
             "default":"#f4f4f4"
        },
        {
            "type": "color",
            "id": "text",
            "label": "Text",
             "default":"#000"
        }
    ],
    "presets": [
      {
        "name": "banner"
     
      }
    ]
  }
{% endschema %}