{% if section.settings.show-announcement %}
<section>Announcement bar</section>
{%endif%}
{% schema %}
  {
    "name": "Announcement bar",
    "settings": [ 
        {
            "type": "checkbox",
            "id": "show-announcement",
            "label": "show-announcement",
            "default": true
           
        }
    ],
    "presets": [
      {
        "name": "announcement bar",
       "settings": {}
      }
    ]
  }
{% endschema %}