<h1>This work s</h1>

{% schema %}
  {
    "name": "Liquid Reference",
    "tag": "section",
    "class": "liquid-ref",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "settings": {
        }
      }
    ]
  }
{% endschema %}